.forgot-password {
  margin-top: 10px;
}

.forgot-password-link {
  background: none;
  border: none;
  color: rgb(83, 52, 73);
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
}

.forgot-password-link:hover {
  text-decoration: underline;
}

.forgot-password-form {
  margin-top: 20px;
}

.forgot-password-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 2px solid #590a6d;
  background-color: transparent;
  font-size: 16px;
  color: #333;
}

.forgot-password-form input:focus {
  outline: none;
  border-bottom: 2px solid #590a6d;
}

.forgot-password-form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(83, 52, 73);
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.forgot-password-form button:hover {
  background-color: rgb(131, 102, 107);
}

.success {
  color: green;
  margin-top: 20px;
  font-size: 16px;
  text-align: center;
}