body.invoices-page {
  background-color: rgb(83, 52, 73);;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.invoices-main-container {
  width: 70%;
  max-width: 1200px;
  padding: 50px 80px;
  background-color: rgb(255, 255, 255); 
  border-radius: 10px;
  outline: 10px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: rgb(237, 226, 226);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.invoices-section {
  outline: 3px solid black;
}

.invoices-section, .invoice-upload-section {
  background-color: rgb(225, 197, 202);
  color: rgb(83, 52, 73);
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.invoice-title {
  color: rgb(83, 52, 73);
  text-decoration: underline;
  text-decoration-color: rgb(83, 52, 73);
  margin-top: -10px;
  margin-bottom: 30px;
}

.invoices-section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.invoices-section li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px dashed rgb(83, 52, 73);
  padding: 10px 0;
}

.invoices-section li:last-child {
  border-bottom: 1px dashed rgb(83, 52, 73);
}

.send-invoice-button {
  background-color: rgb(83, 52, 73);
  width: 30%;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.send-invoice-button:hover {
  background-color: rgb(131, 102, 107);
}

.note-field {
  width: 80%;
  height: 150px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  text-align: left;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.invoice-back-button {
  background-color: rgb(83, 52, 73);
  color: white;
  width: 25%;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

.invoice-back-button:hover {
  background-color: rgb(131, 102, 107);
}

.file-input {
  display: none;
}

.upload-button {
  background-color: rgb(83, 52, 73);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  text-align: center;
  display: inline-block;
  width: auto;
}

.upload-button:hover {
  background-color: rgb(131, 102, 107);
}

.no-invoices-message {
  text-align: center;
  color: rgb(83, 52, 73);
  font-weight: bold;
  margin-top: 15px; 
  margin-bottom: -3px;
}