body.report-issue {
  background-color: rgb(83, 52, 73);
}

.report-issue .outer-container {
  background-color: white;
  width: 80%; 
  max-width: 400px;
  margin: 260px auto;
  padding: 20px; 
  box-sizing: border-box; 
}

.report-issue .main-container { 
  background-color: rgb(225, 197, 202);
}

.report-issue .report-title {
  margin-top: 0px;
  font-size: 30px;
}

.report-issue .report-issue-container {  
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}
  
.report-issue .report-issue-textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    resize: vertical;
    border: 2px solid black;
    border-radius: 5px;
    box-sizing: border-box;
  }

.report-issue p {
  font-size: 16px;
}
  
.report-issue button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: rgb(83, 52, 73);
    color: white;
    border: none;
    cursor: pointer;
  }
  
.report-issue button:hover {
    background-color: rgb(56, 34, 49);
  }

.report-issue .report-back-button {
    width: 30%;
    font-size: 15px;
    background-color: rgb(83, 52, 73);
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 2px 5px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.report-issue .report-submit-button {
  margin-bottom: 0px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .report-issue .report-issue-textarea {
      width: 90%;
  }

  .report-issue .report-back-button {
      width: 40%;
      padding: 10px 20px;
      font-size: 14px;
  }

  .report-issue .report-submit-button {
    width: 60%;
  }
}

@media (max-width: 480px) {
  .report-issue .report-issue-textarea {
      width: 100%;
  }

  .report-issue .report-back-button {
      width: 40%;
      padding: 10px 20px;
      font-size: 12px;
  }

  .report-issue .report-submit-button {
    width: 60%;
  }
}


