body.user-dashboard {
  font-family: Arial, sans-serif;
  background-color: #694F5D;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.user-dashboard header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 115px;
  width: 100vw;
  background-color: #EFC7C2;
  text-align: center;
}

.user-dashboard header h1 {
  text-decoration: none;
  margin-top: 15px;
  margin-bottom: 38px;
  color: rgb(83, 52, 72);
  font-size: 40px;
}

.user-dashboard header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: -25px;
}

.user-dashboard header nav button {
  background-color: #EFC7C2;
  color: rgb(83, 52, 72);
  width: 200px;
  font-size: 18px;
  text-decoration: underline;
  font-weight: bold; 
  transition: transform 0.3s ease; 
  border: none;
}

.user-dashboard header nav button:hover {
  transform: scale(1.3);
  background-color: transparent;
}

.user-dashboard footer {
  width: 100%;
  background-color: rgb(246, 227, 227);
  height: 50px;
  text-align: center;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
}

.user-dashboard footer p {
  color: rgb(83, 52, 72);
  font-style: italic;
}

.user-dashboard .greeting {
  color: rgb(246, 227, 227);
  margin-top: 170px;
  margin-bottom: -10px;
  text-align: center;
}


.user-dashboard .main-container {
  border: 9px solid #a7817c;
  margin-top: 222px;
  margin-bottom: 200px;
  max-width: 400px;
  padding: 13px;
  border-radius: 27px;;
  text-align: center;
  background-color: rgb(246, 227, 227);
}

.user-dashboard #cancel-reason-label {
  margin-bottom: -30px;
  width: 80%;
}

.user-dashboard p {
  color: rgb(83, 52, 73);
}

.user-dashboard .logout-button {
  width: 30%;
  display: block;
  padding: 10px 20px;
  font-size: 19px;
  cursor: pointer;
  margin: 20px auto;
  background-color: #694F5D;
  color: rgb(246, 227, 227);
  border: none;
  transition: transform 0.3s ease;
}

.user-dashboard .logout-button:hover {
  transform: scale(1.15);
  text-decoration: underline;
  font-weight: bold;
}

.user-dashboard .reschedule-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 20px;
  text-align: center;
  gap: 20px; 
}


.user-dashboard .reschedule-title {
  font-size: 27px;
  font-weight: bold;
  color: rgb(83, 52, 73);
  margin-bottom: 0px;
  margin-top: -5px;
  text-decoration: underline;
}

.user-dashboard .reschedule-dropdown {
  padding: 10px;
  width: 250px;
  text-align: center;
}

.user-dashboard .session-dropdown {
  margin-bottom: 30px; 
  padding: 10px;
  width: 250px; 
  text-align: center;
}

.user-dashboard .cancel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.user-dashboard .cancel-session-button {
  background-color: #4d0a40; 
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 15px;
  width: 42%; 
  font-size: 16px;
}

.user-dashboard .cancel-session-button:disabled {
  background-color: grey;
  cursor: not-allowed;
  opacity: 0.6; 
}

.user-dashboard .reschedule-button:disabled {
  background-color: grey;
  cursor: not-allowed;
  opacity: 0.6; 
}

.user-dashboard .cancel-reason-textbox {
  width: 70%;
  height: 70px;
  padding: 10px;
  margin-top: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: none; 
}

.user-dashboard .reschedule-back-button {
  display: flex;
  justify-content: center;
  background-color: rgb(83, 52, 73);
  align-items: center;  
  padding: 5px 10px;
  width: 80px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  text-align: center; 
}

.user-dashboard .reschedule-back-button:hover {
  background-color: #997d8b;
}

.user-dashboard .cancel-back-button {
  display: flex;
  justify-content: center;
  background-color: rgb(83, 52, 73);
  align-items: center;  
  padding: 5px 10px;
  width: 80px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  text-align: center; 
}

.user-dashboard .cancel-back-button:hover {
  background-color: #997d8b;
}

.user-dashboard .reschedule-all-back-button {
  margin-top: 40px; 
  background-color: rgb(83, 52, 73);
  padding: 10px;
  width: 17%;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  align-self: center; 
}

.user-dashboard .back-button:hover {
  background-color: #997d8b;
}

.user-dashboard .reschedule-all-back-button:hover {
  background-color: #997d8b;
}

.user-dashboard .calendar-container {
  margin-top: 140px;
  background-color: #a7817c;
  padding: 11px;
  border-radius: 15px;
}

.user-dashboard .session-day {
  background-color: #d1c4e9 !important;
  color: white !important;
}

.user-dashboard .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}

.user-dashboard .session-popup {
  background-color: #f9f9f9;
  padding: 0px;
  border: 1px solid #ccc;
  text-align: center;
  position: relative;
  max-width: 400px;
  width: 60%; 
  margin: 0 20px;
  border-radius: 8px;
}

.user-dashboard .session-popup .close-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: rgb(83, 52, 73);
  width: auto;
  height: auto;
  line-height: normal;
  padding: 1px 5px;
}

.user-dashboard .session-popup .close-button:hover {
  text-decoration: underline;
  text-decoration-color: rgb(83, 52, 73);
}

.user-dashboard .session-info {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.user-dashboard .session-separator {
  border: none;
  height: 1px;
  background-color: #ddd;
  margin: 10px 0;
}

.user-dashboard .react-datepicker {
  width: 100%; 
  height: auto;
}

.user-dashboard .react-datepicker__day-name, 
.user-dashboard .react-datepicker__day, 
.user-dashboard .react-datepicker__time-name {
  width: 3rem; 
  height: 3rem;
}

.user-dashboard .react-datepicker__navigation {
  width: 20px;
  height: 20px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute; 
  top: -8px; 
  transform: translateY(15px);
}

.user-dashboard .react-datepicker__navigation--previous {
  border-right: 2px solid #590a6d;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  margin-left: 10px;
  left: 0; 
}

.user-dashboard .react-datepicker__navigation--next {
  border-left: 2px solid #590a6d; 
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  margin-right: 10px; 
  right: 0; 
}

.user-dashboard .zoom-link {
  margin-top: 10px;
  margin-left: -5px;
  font-size: 20px;
}

.user-dashboard .zoom-link a {
  text-decoration: underline;
  color: blue;
}

.user-dashboard .session-popup-date {
  text-decoration: underline;
}

.user-dashboard .zoom-link p {
  margin-top: 10px;
  font-size: 18px;
  margin-left: -5px;
}



.user-dashboard .cancel-reschedule-button:hover {
  background-color: transparent;
}

.user-dashboard .options-container {
  margin-top: 20px;
}

.user-dashboard .options-outer-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.user-dashboard .inner-container1 {
  display: flex;
  flex-direction: column;
}

.user-dashboard .inner-container2 {
  display: flex;
  flex-direction: column;
}

.user-dashboard .option-button {
  margin: 10px; 
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #694F5D;
  color: white;
  border: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  width: 150px; 
  text-align: center;
}

.user-dashboard .option-button:hover {
  background-color: #997d8b;
}

.user-dashboard .options-back-button {
  display: flex;
  justify-content: center;
  background-color: rgb(83, 52, 73);
  align-items: center;  
  margin-top: 27px;
  margin-left: 127px;
  margin-bottom: 20px;
  padding: 5px 10px;
  width: 80px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  text-align: center; 
}

.user-dashboard .options-back-button:hover {
  background-color: #997d8b;
}

.user-dashboard .schedule-details {
  margin-bottom: -120px;
  text-align: center;
  color: rgb(246, 227, 227);
}

.user-dashboard .reschedule-button {
  background-color: #4d0a40; 
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 0px;
  width: 50%; 
  font-size: 16px;
}

.user-dashboard .reschedule-button:hover {
  background-color: #997d8b;
}

.user-dashboard .do-you-want {
  font-size: 29px;
  text-decoration: underline;
  text-decoration-color: rgb(83, 52, 72);
  color: #694F5D;
  margin-bottom: 30px;
  margin-top: 0px;
}

.user-dashboard .cancel-all-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 5px 5px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.yes-button,
.no-button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #533449;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.yes-button:hover,
.no-button:hover {
  background-color: #997d8b;
}

.user-dashboard .reschedule-all-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  width: 100%;
}

.reschedule-all-title {
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 30px;
  color: rgb(83, 52, 73);
  text-decoration: underline;
  text-decoration-color: rgb(83, 52, 73); 
}

.user-dashboard .cancel-title {
  font-size: 27px;
  font-weight: bold;
  margin-top: -10px;
  color: rgb(83, 52, 73);
  text-decoration: underline;
  text-decoration-color: rgb(83, 52, 73); 
}

.user-dashboard .res-session-dropdown {
  margin-top: 20px;
  padding: 10px;
  width: 250px; 
}

.user-dashboard .reschedule-all-button {
  width: 200px;
  padding: 5px 20px;
  margin-bottom: -10px;
}

@media (max-width: 768px) {
  .user-dashboard .outer-container {
    transform: scale(0.75); 
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  body.user-dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .user-dashboard .outer-container {
    transform: scale(0.75); 
    margin: 0 auto;
    max-width: 120vw; 
    max-height: 200vh;
    width: 100%;
    box-sizing: border-box;
    overflow-y: auto; /* Add scroll if content overflows vertically */
    padding: 40px; /* Add padding to give some space inside */
  }
}