html, body {
  height: 100%; /* Ensure the body and html take up the full height */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root {
  flex-grow: 1; /* Ensure root takes up available space */
}